	/*
  	Flaticon icon font: Flaticon
  	Creation date: 16/02/2017 13:55
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-ice-cream:before { content: "\f100"; }
.flaticon-ice-cream-1:before { content: "\f101"; }
.flaticon-ice-cream-10:before { content: "\f102"; }
.flaticon-ice-cream-11:before { content: "\f103"; }
.flaticon-ice-cream-12:before { content: "\f104"; }
.flaticon-ice-cream-13:before { content: "\f105"; }
.flaticon-ice-cream-14:before { content: "\f106"; }
.flaticon-ice-cream-15:before { content: "\f107"; }
.flaticon-ice-cream-16:before { content: "\f108"; }
.flaticon-ice-cream-17:before { content: "\f109"; }
.flaticon-ice-cream-18:before { content: "\f10a"; }
.flaticon-ice-cream-19:before { content: "\f10b"; }
.flaticon-ice-cream-2:before { content: "\f10c"; }
.flaticon-ice-cream-20:before { content: "\f10d"; }
.flaticon-ice-cream-21:before { content: "\f10e"; }
.flaticon-ice-cream-22:before { content: "\f10f"; }
.flaticon-ice-cream-23:before { content: "\f110"; }
.flaticon-ice-cream-24:before { content: "\f111"; }
.flaticon-ice-cream-25:before { content: "\f112"; }
.flaticon-ice-cream-26:before { content: "\f113"; }
.flaticon-ice-cream-27:before { content: "\f114"; }
.flaticon-ice-cream-28:before { content: "\f115"; }
.flaticon-ice-cream-29:before { content: "\f116"; }
.flaticon-ice-cream-3:before { content: "\f117"; }
.flaticon-ice-cream-4:before { content: "\f118"; }
.flaticon-ice-cream-5:before { content: "\f119"; }
.flaticon-ice-cream-6:before { content: "\f11a"; }
.flaticon-ice-cream-7:before { content: "\f11b"; }
.flaticon-ice-cream-8:before { content: "\f11c"; }
.flaticon-ice-cream-9:before { content: "\f11d"; }